/* mobile */

@media (max-width:425px) {

    .section-wrap {
        overflow: hidden;
        height: auto;
        width: 90%;
        padding: 20px;
        margin: 50px 15px;

    }

    section {
        height: auto;
    }


    header {
        flex-direction: column;
        gap:20px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-cta-btn {
        width: 300px;
        margin: 0 auto 20px;
        display: block;
    }

    .hero-cta-btn {
        margin: 10px 0px;
    }

    

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .left {
        margin-bottom: 100px;
    }

    .right {
        margin-top: 100px;
    }

    .social i {
        width: 50px;
        height: 60px;
        font-size: 1.5rem;
        border-radius: 40%;
        margin-top: -40px;
    }

    .section-btn {
        margin-bottom: 100px;
    }

    .project-grid {
        grid-template-columns: 1fr;
        gap:5px;
    }

    .card {
        margin: 10px 0;

    }

    .section-title {
        margin-top: 40px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact .right img {
        width: 100%;
        margin: 100px 0px 50px;
    }

    form button {
        margin-bottom: 20px;
        
    }

    .social {
        margin-top: 40px;
    }

    form button {
        margin-bottom: 100px;
    }

    .contact .right img{
        margin-top: -100px;
        margin-bottom: 100px;
    }

    .About img {

        height: 230vh;

    }

    
  
}

@media (min-width: 426px) and (max-width: 768px) {

    section {
        height: auto;
    }

    .section-wrap {
        background-color: red;
        padding: 50px 50px;
        overflow: visible;
        height: auto;
        margin: 20px 0px;
        
        
    }

    header {
        flex-direction: column;
        gap: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-cta-btn {
        display: block;
        width: 600px;
        height: 60px;
        border-radius: 35px;
        margin:20px 0px;
        
    }

    .hero-content {
        display: flex;
        flex-direction: column;
    }

    .hero-content .right img {
        margin-bottom: 40px;
        margin-top: -40px;
        height: 40vh;
    }

    form button {
        margin-bottom: 30px;
    }

    .contact .left {

        width: 100%;
        
    }

    textarea {
        height: 13vh;
    }

    .About img {

        height: 80vh;

    }



    

}


@media (min-width: 769px) and (max-width: 1024px) {

    section {
        height: auto;
    }

    .section-wrap {
        background-color: blueviolet;
        width: 95%;
        padding: 50px 50px;
        overflow: visible;
        height: auto;
        margin: 20px 0px;
        
        
    }
    


    .head-logo {
        font-size: 1.5em;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 10px;
        
    
    }

    .nav-items {
    
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin: 10px;
        
    }


    .header-cta-btn {
        font-size: 1rem;
        padding: 10px 30px;
        margin-right: 10px;
        
    }

    .hero-cta-btn {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .social {
        margin-top: 50px;
    }

    header {
        margin-top: 20px;
    }

    .project-grid {
        margin: 90px 0px;
        height: 40vh;
    }

    .section-title {
        margin-top: 10px;
    }

    .contact-grid .left {
        margin-right: 30px;
        margin-top: 150px;
        gap: 30px;
    }

    .contact .right img {
        width: 95%;
        height: 60vh;
    }

    .hero-content .right img {
        height: 40vh;
        margin-top: 50px;
    }

    .About img {

        height: 75vh;

    }



}




@media (min-width: 1025px) and (max-width: 1440px) {

    section {
        height: auto;
    }

    .section-wrap {
        background-color: rgb(55, 255, 0);
        padding: 50px 50px;
        overflow: visible;
        height: auto;
        margin: 20px 0px;
        
        
    }

    .About img {

        height: 65vh;

    }

    .hero-cta-btn {
        display: flex;
        flex-direction: column;
        margin: 10px 0px;
    }

    .social  {
        margin-top: 100px;
        margin-bottom: 30px;
    }


}



