@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

/* main */

section,.right, .left, .social, .social i {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-image: url(image/ok.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.section-wrap {
    background-color: aqua;
    height: 90vh;
    width: 95%;
    border: 1px solid black;
    box-shadow: inset 0 0 5px rebeccapurple;
    border-radius: 30px;
    backdrop-filter: blur(12px);
    padding: 50px 100px;
    overflow: hidden;
    
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.head-logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;

}

.head-logo span {
    color: orange;
}

.nav-items {
    
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 20px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;

}

nav, .head-cta {
    z-index: 10000;
}

.nav-items::before {
    background-color: rgb(183, 232, 6);
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 50%;
    height: 1px;
    width: 100%;
    box-shadow: 0 0 3px rgb(251, 239, 4);
    transform: translate(-50%) scale(0) ;
    
    

}

.nav-items:hover::before {
    transform: translate(-50%) scale(1);
}



.nav-items:hover {
    text-shadow: 0 0 10px red;
}



.header-cta-btn {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 24px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header-cta-btn:hover {
    background-color: blueviolet;
    border-color: aqua;
    box-shadow: 0 0 50px gold;
}

/* center left */

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.left {
    
    flex-direction: column;
    align-items: center;
    height: 45vh;
    margin-top: 70px;
    
}

.adj {
    
    width: 80%;
    height: 90%;
    text-align: center;
}


.main-text {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 30px;
    

}

.main-text span {
    color: orange;
}

.sub-text {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: blue;
    margin-bottom: 40px;

}

.hero-cta-btn {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 30px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
    margin-right: 20px;
    
    
    
}

.btn2 {
    background-color: rgb(247, 149, 3);
}

.btn1 {
    background-color: rgb(223, 28, 168);
}

.hero-cta-btn:hover {
    
}

.btn2:hover {
    box-shadow: 0 0 80px rgb(3, 69, 22);
}

.btn1:hover {
    box-shadow: 0 0 80px rgb(30, 120, 3);
}

/* center right*/

.right img {
    width: 70%;
    height: 300px;
    filter: drop-shadow(0 0 20px orange);
    animation: 30s treescale linear infinite;
    margin-bottom: 80px;
}

/* footer */

.social i {
    height: 80px;
    width: 80px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    font-size: 2.2rem;
    border: 1px solid orange;
}



.social i:hover {
    border-color: blueviolet;
    box-shadow: 0 0 24px orange;
    text-shadow: 0 0 24px rgb(183, 232, 6);
    transform: rotate(360deg);
    color: white;
}


/* about */

.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title span {
    color: rgb(18, 6, 245);
}

.About p{
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
}

.section-btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 24px;
    color: goldenrod;
    background-color: rgb(56, 56, 244);
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s;
}

.section-btn:hover {
    background-color: rgb(224, 184, 103);
    box-shadow: 0 0 50px green;
    color: aliceblue;
}

.About img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.5;
    pointer-events:none;
}
 
/* project */

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.project img {
    width: 100%;
    border: 10px;
}

.card {
    background-color: rgb(233, 117, 235);
    border: 5px solid rgb(33, 55, 2);
    padding: 2px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 50px;
    margin-top: 20px;
}


.card-title {
    font-size: 1.2rem;
    margin: 30px 0 20px;
    text-align: center;
    
}

.card:hover {
    background-color: azure;
    box-shadow: 0 0 50px rgb(181, 148, 105);
}

.project .section-btn {
    width: 100%;
    margin-top: 40px;
}


/* contact */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .right img {
    width: 85%;
    height: 60vh;
    margin-top: 100px;
    margin-right: 100px;
}

.contact .left {
    margin-top: 100px;
}

.contact p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input, textarea {
    background-color: transparent;
    color: orange;
    font-size: 1rem;
    padding: 14px;
    border: 1px solid azure;
    border-radius: 15px;
}


input::placeholder, textarea::placeholder {
    color: red;
}

textarea {
    height: 20vh;
}


form button {
    font-size: 1rem;
    text-transform: uppercase;
    color: #ff00e1;
    background-color: rgb(9, 145, 100);
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: gold;
    box-shadow: 0 0 10px #ff00e1;
}


/* footer */
.footer {
    height: auto;
    
}

.footer .section-wrap {
    height: auto;
    margin: 50px 0;
}

.copyright {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
}